@media screen and (min-width: 768px) {
    .taskAdd  {
        bottom: -18.2vh;
    }

    .taskInformation {
        max-width: 65%;
    }

    .taskInformation {
        flex-direction: row;
        justify-content: space-between;
    }   

    .wrapperLine {
        max-width: 65%;
    }
}

@media screen and (min-width:1200px) {
    .taskAdd  {
        bottom: -16.5vh;
    }
}